/* Убираем отступы по краям, чтобы фон был строго красным */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Красим весь фон страницы в красный */
body {
    background-color: red;
}

/* Стили для заголовка */
h1 {
    color: blue; /* Синие буквы */
    text-align: center; /* Выравнивание по центру */
    margin-top: 20%; /* Отступ сверху, чтобы текст не прилипал к верхнему краю */
}
